# ── Master — uvek prima pisanje (INSERT/UPDATE/DELETE) ────────
DB_MASTER_HOST=
DB_MASTER_PORT=
DB_MASTER_USER=
DB_MASTER_PASSWORD=
DB_MASTER_NAME=

# ── Slave 1 — čitanje Round-Robin ─────────────────────────────
DB_SLAVE1_HOST=
DB_SLAVE1_PORT=
DB_SLAVE1_USER=
DB_SLAVE1_PASSWORD=
DB_SLAVE1_NAME=

# ── Slave 2 — čitanje Round-Robin ─────────────────────────────
DB_SLAVE2_HOST=
DB_SLAVE2_PORT=
DB_SLAVE2_USER=
DB_SLAVE2_PASSWORD=
DB_SLAVE2_NAME=

# ── Express ───────────────────────────────────────────────────
PORT=
CLIENT_URL=

# ── JWT ───────────────────────────────────────────────────────
JWT_SECRET=

# ── Bcrypt ────────────────────────────────────────────────────
SALT_ROUNDS=

# ── Health check interval (ms) ────────────────────────────────
HEALTH_CHECK_INTERVAL=
